:80 {
    handle /api/* {
        reverse_proxy server:4111
    }
    @websocket {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    handle /ws/* {
        reverse_proxy @websocket server:4111
        reverse_proxy server:4111
    }
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
